{% extends 'admin/base_template.html' %}
{% block title %}
Category Create
{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block page_title %}
Category Create
{% endblock page_title %}



{% block page_content %}


<div class="row d-flex justify-content-center p-3" style="background-color: rgb(232, 241, 248);" >
  <div class="col-md-6 grid-margin stretch-card d-flex " >
                  <div class="card " style="background-color: rgb(226, 235, 241);">
                    <div class="card-body">
  
                      <h4 class="card-title text-center" style="color: red; font-weight:bold;" >ADD CATEGORY</h4>
                      {% for message in messages %}
                      <p>{{message }}</p>
                      {% endfor %}
                      <form class="forms-sample" method="post">
                        {% csrf_token %}
  
                        <div class="form-group row">
                          <label for="exampleInputEmail2" class="col-sm-3 col-form-label" >Category Name</label>
                          <div class="col-sm-9" >
                            {{ form.category_name }}
                          </div>
                        </div>
  
                        <div class="form-group row">
                          <label  class="col-sm-3 col-form-label">Slug</label>
                          <div class="col-sm-9">
                            {{ form.slug }}
                          </div>
                        </div>
                           <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Description</label>
                          <div class="col-sm-9">
                            {{ form.description}}
                          </div>
                        </div>
                        <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-2">Submit</button>
  
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
    </div>


 
{% endblock page_content %}

{% block custom_js %}
<script>
  document.getElementById("id_category_name").onkeyup=function(){
      document.getElementById("id_slug").value=document.getElementById("id_category_name").value.toLowerCase().replace(/ /g,"-");
  }
</script>
{% endblock custom_js %}