{% extends 'admin/base_template.html' %}

<!-- BLOCK FOR TITLE -->
{% block title %}
Dashboard
{% endblock title %}
<!-- END BLOCK FOR TITLE -->

<!-- BLOCK FOR CSS -->
{% block custom_css %}
{% endblock custom_css %}
<!-- END BLOCK FOR CSS -->

<!-- BLOCK FOR TITLE -->
{% block page_title %}
Dashboard
{% endblock page_title %}
<!-- END BLOCK FOR TITLE -->

<!-- BLOCK FOR MAIN CONTENT -->
{% block page_content %}
<p>page content</p>
{% endblock page_content %}
<!-- END BLOCK FOR MAIN CONTENT -->

<!-- BLOCK FOR CSS -->
{% block custom_js %}
{% endblock custom_js %}
<!-- END BLOCK FOR JS -->