{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
{% if message.tags == "success" %}
<div class="alert alert-success" align="center">
{{ message }}
</div>
{% endif %}
{% if message.tags == "error" %}
<div class="alert alert-danger">
{{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}

    <!-- Hero/Intro Slider Start -->
    <div class="section ">
        <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
            <!-- Hero slider Active -->
            <div class="swiper-wrapper">
                <!-- Single slider item -->
                <div class="hero-slide-item slider-height swiper-slide d-flex bg-color1"
                    data-bg-image="{% static 'eshop/assets/images/slider-image/slider-bg-1.jpg' %}">
                    <div class="container align-self-center">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                                <div class="hero-slide-content slider-animated-1">
                                    <h2 class="title-1">Finest Quality <br class="d-sm-none"> Watches</h2>
                                    <span class="price">
                                        <span class="old"> <del>₹ 4699</del></span>
                                        <span class="new">- ₹ 2599</span>
                                    </span>
                                    <a href="{% url 'store' %}" class="btn btn-primary m-auto text-uppercase">View
                                        Collection</a>
                                </div>
                            </div>
                            <div
                                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative">
                                <div class="show-case">
                                    <div class="hero-slide-image">
                                        <img src="http://pngimg.com/uploads/watches/watches_PNG101452.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single slider item -->
                <div class="hero-slide-item slider-height swiper-slide d-flex bg-color1"
                    data-bg-image="{% static 'eshop/assets/images/slider-image/slider-bg-1.jpg' %}">
                    <div class="container align-self-center">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                                <div class="hero-slide-content slider-animated-1">
                                    <h2 class="title-1">Best Branded <br class="d-sm-none"> Shoes</h2>
                                    <span class="price">
                                        <span class="old"> <del>₹ 1560</del></span>
                                        <span class="new">- ₹ 1099</span>
                                    </span>
                                    <a href="{% url 'store' %}" class="btn btn-primary m-auto text-uppercase">View
                                        Collection</a>
                                </div>
                            </div>
                            <div
                                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative">
                                <div class="show-case">
                                    <div class="hero-slide-image">
                                        <img src="https://www.freepnglogos.com/uploads/shoes-png/mens-shoes-png-transparent-images-images-11.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-buttons">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>

    <!-- Hero/Intro Slider End -->

    <!-- Banner Area Start -->
    <div class="banner-area pt-100px pb-100px">
        <div class="container">
            <div class="row">
                <div class="single-col">
                    <div class="single-banner">
                        <img src="https://images.pexels.com/photos/1162519/pexels-photo-1162519.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="392" alt="">
                        <div class="banner-content">
                            <span class="category">Best Seller</span>
                            <span class="title">Wrist <br>
                                Watches</span>
                            <a href="{% url 'store' %}" class="shop-link btn btn-primary text-uppercase">Shop
                                Now</a>
                        </div>
                    </div>
                </div>
                <div class="single-col center-col">
                    <div class="single-banner">
                        <img src="https://images.pexels.com/photos/2113994/pexels-photo-2113994.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="392" alt="">
                        <div class="banner-content">
                            <span class="category"style="color:rgb(255, 255, 255)">Best Seller</span>
                            <span class="title" style="color:rgb(255, 255, 255)">Chronograph Watches <br>
                                & Offer 2021</span>
                            <a href="{% url 'store' %}" class="shop-link btn btn-primary text-uppercase">Shop
                                Now</a>
                        </div>
                    </div>
                </div>
                <div class="single-col">
                    <div class="single-banner">
                        <img src="https://images.pexels.com/photos/3389419/pexels-photo-3389419.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="392" alt="">
                        <div class="banner-content">
                            <span class="category"style="color:rgb(255, 255, 255)">Best Footwears</span>
                            <span class="title"style="color:rgb(255, 255, 255)">for Ladies<br>
                                & Poot</span>
                            <a href="{% url 'store' %}" class="shop-link btn btn-primary text-uppercase">Shop
                                Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <!-- Product Area Start -->
    <div class="product-area">
        <div class="container">
            <!-- Section Title & Tab Start -->
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-12">
                    <div class="section-title text-center mb-60px">
                        <h2 class="title">Popular Categories</h2>
                        <p>You can shop from your highly demanded favourite categories!! </p>
                    </div>
                    <!-- Tab Start -->
                    <div class="tab-slider swiper-container slider-nav-style-1 small-nav">
                        <!-- <ul class="product-tab-nav nav swiper-wrapper ">
                            <li class="nav-item swiper-slide"><a class="nav-link active" data-bs-toggle="tab"
                                    href="#tab-jewelry"> <img src="{% static 'eshop/assets/images/icons/jewelry-icon.png' %}"
                                        alt=""><span>Jewelry</span></a>
                            </li>

                            <li class="nav-item swiper-slide"><a class="nav-link" data-bs-toggle="tab"
                                    href="#tab-pottery"> <img src="{% static 'eshop/assets/images/icons/pottery-icon.png' %}"
                                        alt=""><span>Pottery</span></a>
                            </li>
                            <li class="nav-item swiper-slide"><a class="nav-link" data-bs-toggle="tab"
                                    href="#tab-fabric"> <img src="{% static 'eshop/assets/images/icons/fabric-icon.png' %}"
                                        alt=""><span>Fabric</span></a>
                            </li>
                            <li class="nav-item swiper-slide"><a class="nav-link" data-bs-toggle="tab"
                                    href="#tab-paintings"> <img src="{% static 'eshop/assets/images/icons/paintings-icon.png' %}"
                                        alt=""><span>Paintings</span></a>
                            </li>
                            <li class="nav-item swiper-slide"><a class="nav-link" data-bs-toggle="tab"
                                    href="#tab-sculptures"> <img src="{% static 'eshop/assets/images/icons/sculptures-icon.png' %}"
                                        alt=""><span>Sculptures</span></a>
                            </li>
                            <li class="nav-item swiper-slide"><a class="nav-link" data-bs-toggle="tab"
                                    href="#tab-wooden"> <img src="{% static 'eshop/assets/images/icons/wooden-icon.png' %}"
                                        alt=""><span>Wooden</span></a>
                            </li>
                            <li class="nav-item swiper-slide"><a class="nav-link" data-bs-toggle="tab"
                                    href="#tab-pottery"> <img src="{% static 'eshop/assets/images/icons/pottery-icon.png' %}"
                                        alt=""><span>Pottery</span></a>
                            </li>
                           
                        </ul> -->
                        <!-- Add Arrows -->
                        <div class="swiper-buttons">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <!-- Tab End -->
                </div>
                <!-- Section Title End -->

            </div>
            <!-- Section Title & Tab End -->

            <div class="row">
                <div class="col">
                    <div class="tab-content mt-60px">
                        <!-- 1st tab start -->
                        <div class="tab-pane fade show active" id="tab-jewelry">
                            <div class="row">
                                {% for i in pro %}
                                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                    <!-- Single Prodect -->
                                    <div class="product" >
                                        <div class="thumb">
                                            <a href="{{ i.get_url }}" class="image" >
                                                <img  src="{{ i.images1.url }}" alt="Product"width="300" height="450" />
                                                <img class="hover-image" src="{{ i.images1.url }}" width="500" height="500"
                                                    alt="Product" />
                                            </a>
                                            <!-- <span class="badges">
                                                <span class="new">New</span>
                                            </span> -->
                                            <!-- <div class="actions">
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i
                                                        class="pe-7s-like"></i></a>
                                                <a href="#" class="action quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                <a href="compare.html" class="action compare" title="Compare"><i
                                                        class="pe-7s-refresh-2"></i></a>
                                            </div> -->
                                        </div>
                                        <div class="content">
                                            <span class="ratings">
                                                <span class="rating-wrap">
                                                    <span class="star" style="width: 100%"></span>
                                                </span>
                                                <span class="rating-num">( 5 Review )</span>
                                            </span>
                                            <h5 class="title"><a href="single-product.html">{{ i.product_name }}
                                                </a>
                                            </h5>
                                            {% if i.offer_price == None %}
                                            <span class="price">
                                                <span class="new">₹ {{ i.price }}</span>
                                            </span>
                                            <span class="price">
                                                <span class="new"></span>
                                            </span>
                                            {% else %}
                                            <span class="price">
                                                <span class="new">₹ {{ i.offer_price }}</span>
                                            </span>
                                            <span class="price">  
                                                <span class="new"><strike>₹ {{ i.price }}</strike></span>
                                            </span>
                                            {% endif %}
                                        </div>
                                        <a href="{% url 'add_cart' i.id %}" title="Add To Cart" class=" add-to-cart">Add
                                            To Cart</a>
                                    </div>
                                    
                                </div>
                                {% endfor %}


                            </div>
                        </div>
                        <!-- 1st tab end -->
                        <!-- 2nd tab start -->

                        <!-- 6th tab end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Area End -->

    <!-- Feature Area Srart -->
    <div class="feature-area pt-100px">
        <div class="container">
            <div class="feature-wrapper">
                <div class="single-feture-col">
                    <!-- single item -->
                    <div class="single-feature">
                        <div class="feature-icon">
                            <img src="{% static 'eshop/assets/images/icons/1.png' %}" alt="">
                        </div>
                        <div class="feature-content">
                            <h4 class="title">Free Shipping</h4>
                            <span class="sub-title">Capped at ₹ 100 per order</span>
                        </div>
                    </div>
                </div>
                <!-- single item -->
                <div class="single-feture-col ">
                    <div class="single-feature">
                        <div class="feature-icon">
                            <img src="{% static 'eshop/assets/images/icons/2.png' %}" alt="">
                        </div>
                        <div class="feature-content">
                            <h4 class="title">Card Payments</h4>
                            <span class="sub-title">Credit cards/ Debit cards</span>
                        </div>
                    </div>
                </div>
                <!-- single item -->
                <div class="single-feture-col">
                    <div class="single-feature">
                        <div class="feature-icon">
                            <img src="{% static 'eshop/assets/images/icons/3.png' %}" alt="">
                        </div>
                        <div class="feature-content">
                            <h4 class="title">Easy Returns</h4>
                            <span class="sub-title">Shop With Confidence</span>
                        </div>
                    </div>
                    <!-- single item -->
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Area End -->


    <!-- Deal Area Start -->
    <div class="deal-area pb-100px pt-100px">
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <div class="deal-inner deal-bg position-relative ptb-80px"
                        data-bg-image="{% static 'eshop/assets/images/deal-img/dealbg.jpg' %}">
                        <div class="deal-wrapper">
                            <h3 class="title">Find it, love it & buy it. <br>
                                & Offer Sale -25% </h3>
                            <!-- <span class="price">
                                <span class="old"> <del>$25.00</del></span>
                                <span class="new">- $18.00</span>
                            </span> -->
                            <a href="{% url 'store' %}" class="btn btn-lg btn-primary">go to shop</a>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Deal Area End -->


    <!-- Product Area End -->



  

    {% endblock %}