{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

        <!-- Product Details Area Start -->

        <div class="product-details-area pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                        <!-- Swiper -->
                        <div class="swiper-container zoom-top">
                            <div class="swiper-wrapper" >
                                <div class="swiper-slide  " id="container1">
                                    <img class="img-responsive m-auto"  src="{{ single_product.images1.url }}"
                                        alt="Zoom Image" id="img1">
                                </div>
                                <div class="swiper-slide  " id="container2">
                                    <img class="img-responsive m-auto" src="{% static 'eshop/assets/images/product-image/zoom-image/2.jpg' %}"
                                        alt="Zoom Image" id="img2">
                                </div>
                                <div class="swiper-slide "id="container3">
                                    <img class="img-responsive m-auto" src="{% static 'eshop/assets/images/product-image/zoom-image/3.jpg' %}"
                                        alt="Zoom Image" id="img3">
                                </div>
                                <div class="swiper-slide "id="container4">
                                    <img class="img-responsive m-auto" src="{% static 'eshop/assets/images/product-image/zoom-image/4.jpg' %}"
                                        alt="Zoom Image" id="img4">
                                </div>
                                <div class="swiper-slide "id="container5">
                                    <img class="img-responsive m-auto" src="{% static 'eshop/assets/images/product-image/zoom-image/5.jpg' %}"
                                        alt="Zoom Image" id="img5">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-container mt-20px zoom-thumbs ">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="img-responsive m-auto" src="{{ single_product.images1.url }}"
                                        alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-responsive m-auto" src="{% static 'eshop/assets/images/product-image/small-image/2.jpg' %}"
                                        alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-responsive m-auto" src="{% static 'eshop/assets/images/product-image/small-image/3.jpg' %}"
                                        alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-responsive m-auto" src="{% static 'eshop/assets/images/product-image/small-image/4.jpg' %}"
                                        alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-responsive m-auto" src="{% static 'eshop/assets/images/product-image/small-image/5.jpg' %}"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                        <div class="product-details-content quickview-content ml-25px">
                            <h2>{{ single_product.product_name }}</h2>
                            <div class="pricing-meta">
                                <ul class="d-flex">
                                    <li class="new-price">₹ {{ single_product.price }}</li>
                                    <!-- <li class="old-price"><del>$ 250</del></li> -->
                                </ul>
                            </div>
                            <div class="pro-details-rating-wrap">
                                <div class="rating-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="read-review"><a class="reviews" href="#">( 2 Review )</a></span>
                            </div>
                            <div class="stock mt-30px">
                                {% if single_product.stock <= 0 %}
                                <span class="avallabillty">Availability: <span class="in-stock"><i
                                            class="fa fa-check"></i>Out of Stock</span></span>
                                {% else %}
                                <span class="avallabillty">Availability: <span class="in-stock"><i
                                    class="fa fa-check"></i>In Stock</span></span>
                                {% endif %}
                            </div>
                            <p class="mt-30px mb-0">{{ single_product.description }}</p>
                            <div class="pro-details-quality">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                                </div>
                                <div class="pro-details-cart">
                                    <button class="add-cart"> Add To
                                        Cart</button>
                                </div>
                                <div class="pro-details-cart">
                                    <button class="add-cart buy-button"> Buy It Now</button>
                                </div>
                                <div class="pro-details-compare-wishlist pro-details-wishlist ">
                                    <a href="wishlist.html"><i class="pe-7s-like"></i></a>
                                </div>
                            </div>
                            <div class="pro-details-categories-info pro-details-same-style d-flex">
                                <span>Categories: </span>
                                <ul class="d-flex">
                                    <li>
                                        <a href="#">{{ single_product.category }} </a>
                                    </li>
                                    <!-- <li>
                                        <a href="#">Furniture, </a>
                                    </li>
                                    <li>
                                        <a href="#">Decore</a>
                                    </li> -->
                                </ul>
                            </div>
                            <!-- <div class="pro-details-social-info pro-details-same-style d-flex">
                                <span>Share: </span>
                                <ul class="d-flex">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-youtube"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div> -->
                            <!-- <div class="payment-img">
                                <a href="#"><img src="{% static 'eshop/assets/images//icons/payment.png' %}" alt=""></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <!-- product details description area start -->
        <div class="description-review-area pb-100px" data-aos="fade-up" data-aos-delay="200">
            <div class="container">
                <div class="description-review-wrapper">
                    <div class="description-review-topbar nav">
                        <a data-bs-toggle="tab" href="#des-details2">Information</a>
                        <a class="active" data-bs-toggle="tab" href="#des-details1">Description</a>
                        <a data-bs-toggle="tab" href="#des-details3">Reviews (02)</a>
                    </div>
                    <div class="tab-content description-review-bottom">
                        <div id="des-details2" class="tab-pane">
                            <div class="product-anotherinfo-wrapper text-start">
                                <ul>
                                    <li><span>Weight</span> 400 g</li>
                                    <li><span>Dimensions</span>10 x 10 x 15 cm</li>
                                    <li><span>Materials</span> 60% cotton, 40% polyester</li>
                                    <li><span>Other Info</span> American heirloom jean shorts pug seitan letterpress</li>
                                </ul>
                            </div>
                        </div>
                        <div id="des-details1" class="tab-pane active">
                            <div class="product-description-wrapper">
                                <p>
    
                                    Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                    est laborum. Sed utlo perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                    veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                    dolores eos qui ratione voluptatem sequi nesciunt.
    
                                </p>
                            </div>
                        </div>
                        <div id="des-details3" class="tab-pane">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="review-wrapper">
                                        <div class="single-review">
                                            <div class="review-img">
                                                <img src="{% static 'eshop/assets/images/review-image/1.png' %}" alt="" />
                                            </div>
                                            <div class="review-content">
                                                <div class="review-top-wrap">
                                                    <div class="review-left">
                                                        <div class="review-name">
                                                            <h4>White Lewis</h4>
                                                        </div>
                                                        <div class="rating-product">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-left">
                                                        <a href="#">Reply</a>
                                                    </div>
                                                </div>
                                                <div class="review-bottom">
                                                    <p>
                                                        Vestibulum ante ipsum primis aucibus orci luctustrices posuere
                                                        cubilia Curae Suspendisse viverra ed viverra. Mauris ullarper
                                                        euismod vehicula. Phasellus quam nisi, congue id nulla.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-review child-review">
                                            <div class="review-img">
                                                <img src="{% static 'eshop/assets/images/review-image/2.png' %}" alt="" />
                                            </div>
                                            <div class="review-content">
                                                <div class="review-top-wrap">
                                                    <div class="review-left">
                                                        <div class="review-name">
                                                            <h4>White Lewis</h4>
                                                        </div>
                                                        <div class="rating-product">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-left">
                                                        <a href="#">Reply</a>
                                                    </div>
                                                </div>
                                                <div class="review-bottom">
                                                    <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere
                                                        cubilia Curae Sus pen disse viverra ed viverra. Mauris ullarper
                                                        euismod vehicula.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="ratting-form-wrapper pl-50">
                                        <h3>Add a Review</h3>
                                        <div class="ratting-form">
                                            <form action="#">
                                                <div class="star-box">
                                                    <span>Your rating:</span>
                                                    <div class="rating-product">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="rating-form-style">
                                                            <input placeholder="Name" type="text" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="rating-form-style">
                                                            <input placeholder="Email" type="email" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="rating-form-style form-submit">
                                                            <textarea name="Your Review" placeholder="Message"></textarea>
                                                            <button class="btn btn-primary btn-hover-color-primary "
                                                                type="submit" value="Submit">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- product details description area end -->
    
        <script>
            const container1 = document.getElementById('container1')
            const img1 = document.getElementById('img1')
    
            container1.addEventListener('mousemove', (e) => {
                const x = e.clientX - e.target.offsetLeft
                const y = e.clientY - e.target.offsetTop
    
                console.log(x, y)
                img1.style.transformOrigin = `${x}px ${y}px`
                img1.style.transform = 'scale(2)'
    
            })
    
            container1.addEventListener('mouseleave', (e) => {
                img1.style.transform = " scale(1)"
            })
        </script>
        <script>
            const container2 = document.getElementById('container2')
            const img2 = document.getElementById('img2')
    
            container2.addEventListener('mousemove', (e) => {
                const x = e.clientX - e.target.offsetLeft
                const y = e.clientY - e.target.offsetTop
    
                console.log(x, y)
                img2.style.transformOrigin = `${x}px ${y}px`
                img2.style.transform = 'scale(2)'
    
            })
    
            container2.addEventListener('mouseleave', (e) => {
                img2.style.transform = " scale(1)"
            })
        </script>
        <script>
            const container3 = document.getElementById('container3')
            const img3 = document.getElementById('img3')
    
            container3.addEventListener('mousemove', (e) => {
                const x = e.clientX - e.target.offsetLeft
                const y = e.clientY - e.target.offsetTop
    
                console.log(x, y)
                img3.style.transformOrigin = `${x}px ${y}px`
                img3.style.transform = 'scale(2)'
    
            })
    
            container3.addEventListener('mouseleave', (e) => {
                img3.style.transform = " scale(1)"
            })
        </script>
        <script>
            const container4 = document.getElementById('container4')
            const img4 = document.getElementById('img4')
    
            container4.addEventListener('mousemove', (e) => {
                const x = e.clientX - e.target.offsetLeft
                const y = e.clientY - e.target.offsetTop
    
                console.log(x, y)
                img4.style.transformOrigin = `${x}px ${y}px`
                img4.style.transform = 'scale(2)'
    
            })
    
            container4.addEventListener('mouseleave', (e) => {
                img4.style.transform = " scale(1)"
            })
        </script>

  

{% endblock %}