{% extends 'shop/base.html' %}


{% block content %}
  <!-- breadcrumb-area start -->
  <div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <h2 class="breadcrumb-title">Register</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Register</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->


<!-- login area start -->
<div class="login-register-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="#lg1">
                            <h4>Register</h4>
                            
                                </a>
                              
                               
                    </div>
                     {% include 'alerts.html' %}
                   
                   
                        <div id="lg2" class="tab-pane">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    
                                    
                                        
                                        <input type="text" name="first_name" placeholder="First Name" id="first_name" onkeyup="return /[a-z]/i.test(event.key)" onkeyup="nameChek()" onblur="nameChek()"/> 
                                        <p id="name-alert" style="color:red; margin-top:-25px;"></p>                                
                                        <input type="text" name="last_name" placeholder="Last Name" id="first_name2" onkeyup="return /[a-z]/i.test(event.key)" onkeyup="nameChek2()" onblur="nameChek2()"/> 
                                        <p id="name-alert2" style="color:red;  margin-top:-25px;"></p> 
                                        <input name="email" placeholder="Email" type="email" id="email" onkeyup="checkEmail()" onblur="checkEmail()"/>
                                        <p id="email-alert" style="color:red; margin-top:-25px;"></p> 
                                        <input type="password" name="user_password" placeholder="Password" id="PassEntry" onkeyup="checkPassword()" onblur="checkPassword()" />
                                        <p id="StrengthDisp" style="color:red; margin-top:-25px;"></p> 
                                        <input type="tel" name="phone_number" id="phone_number" placeholder="Mobile No" 
                                        oninput="this.value = this.value.replace(/\D/g,'');" onkeyup="checkPhone()" onblur="checkPhone()" />
                                        <p id="phone_alert" style="color:red; margin-top:-25px;"></p> 
                                        <input type="text" name="ref_code" placeholder="Referral Coupon Code" />
                                        <p id="display_error" style="color:red; margin-top:-25px;"></p>
                                        <div class="button-box">
                                            <button type="submit" id="register_form"><span>Register</span></button>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login area end -->

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
      
const validated ={
    name:false,
    name2:false,
    email:false,
    mobile:false,
    password:false
}
    function nameChek() {
        var nameAlert = document.getElementById('name-alert');
        var name = document.getElementById("first_name").value;
    
        if (name == "" || name==null) {
            validated.name = false;
            nameAlert.innerHTML = "Required"
        }
        else{
            nameAlert.innerHTML = ""
            validated.name = true;
        }
    }

    function nameChek2() {
        var nameAlert = document.getElementById('name-alert2');
        var name2 = document.getElementById("first_name2").value;
    
        if (name2 == "" || name2==null) {
            validated.name2 = false;
            nameAlert.innerHTML = "Required"
        }
        else{
            nameAlert.innerHTML = ""
            validated.name2 = true;
        }
    }

    function checkEmail() {
        var pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;
        var emailCheck = document.getElementById('email').value;
        var emailAlert = document.getElementById('email-alert');
        if (emailCheck == "" || emailCheck == null) {
            emailAlert.innerHTML = "Required";
            validated.email = false;
        } else if (emailCheck.match(pattern)) {
            emailAlert.innerHTML = "";
            validated.email = true;
        } else {
            emailAlert.innerHTML = "Invalid Email Address";
            validated.email = false;
        }
    }

    function checkPhone(){
        var phone_number= document.getElementById('phone_number').value;
        var phone_alert=document.getElementById('phone_alert');
        if (phone_number == "" || phone_number == null) {
            validated.mobile= false;
            phone_alert.innerHTML = "Required";
        }
        else if(phone_number.length == 10){
            validated.mobile = true;
            phone_alert.innerHTML = "";
        }
        else if(phone_number.length < 10){
            validated.mobile = false;
            phone_alert.innerHTML = "Enter minimum 10 digits";
        }
        else {
            validated.mobile = false;
            phone_alert.innerHTML = "Entered number exceeds 10 digits"
        }
       
    }

    function checkPassword(){
        var password= document.getElementById('PassEntry').value;
        var pass_alert=document.getElementById('StrengthDisp');
        if(password==""||password==null){
            pass_alert.innerHTML="Required";
            validated.password= false;
        }
        else{
            validated.password= true;
        }
    }

    function allCheck(){
        if(validated.name&&validated.name2&&validated.email&&validated.mobile&&validated.password){
            return true;
        }
        else{
            console.log(validated)
            if(validated.name==false || validated.email==false || validated.phone==false || validated.messge==false){
                nameChek();
                nameChek2();
                checkEmail();
                checkPhone();
                checkPassword();
            }
            return false;
        }
    }
$("#register_form").click(function(event){
    event.preventDefault();
    let checkAllisTrue  = allCheck();
    console.log(checkAllisTrue)
    var email=$('#email').val()
    var password=$('#PassEntry').val()
    var first_name=$('#first_name').val()
    var last_name=$('#first_name2').val()
    var phone_number=$('#phone_number').val()
    console.log(email,password,first_name,last_name,phone_number)
    if(checkAllisTrue){
        
        $.ajax({
            url:"{% url 'register' %}",
            method: 'post',
            data: {'email':email,'user_password':password,'first_name':first_name,'last_name':last_name,'phone_number':phone_number,'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            success: function (data) {
            console.log(data)
            if(data.status){         

                $('#display_error').html() ;
                alert(data.message) ;   
                window.location.href = ("{% url 'login'  %}");
                           
            }else{
                $('#display_error').html(data.message) ;   
            }

            },
            error: function(error){
              console.log("Ajax cant send data")
            }
        })//ajax end
    }else{ 
        $('#display_error').html("INVALID FORM DETAILS") ;  
    }
})
    
</script>
<script>
      // timeout before a callback is called

      let timeout;

      // traversing the DOM and getting the input and span using their IDs
  
      let password = document.getElementById('PassEntry')
      let strengthBadge = document.getElementById('StrengthDisp')
  
      // The strong and weak password Regex pattern checker
  
      let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})')
      let mediumPassword = new RegExp('((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))|((?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])(?=.{8,}))')
      
      function StrengthChecker(PasswordParameter){
          // We then change the badge's color and text based on the password strength
  
          if(strongPassword.test(PasswordParameter)) {
              strengthBadge.style.color = "green"
              strengthBadge.textContent = 'Password Strength: Strong'
          } else if(mediumPassword.test(PasswordParameter)){
              strengthBadge.style.color = 'blue'
              strengthBadge.textContent = 'Password Strength: Medium'
          } else{
              strengthBadge.style.color = 'red'
              strengthBadge.textContent = 'Password Strength: Weak'
          }
      }
  
      // Adding an input event listener when a user types to the  password input 
  
      password.addEventListener("input", () => {
  
          //The badge is hidden by default, so we show it
  
          strengthBadge.style.display= 'block'
          clearTimeout(timeout);
  
          //We then call the StrengChecker function as a callback then pass the typed password to it
  
          timeout = setTimeout(() => StrengthChecker(password.value), 10);
  
          //Incase a user clears the text, the badge is hidden again
  
          if(password.value.length !== 0){
              strengthBadge.style.display != 'block'
          } else{
              strengthBadge.style.display = 'none'
          }
      });
</script>

{% endblock %}
